.slide{
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    
}

/* .swiper::before{
    background-color: rgba(0, 0, 0, 0.7);
} */

.slide1 {
    background-image: url("../../../assets/slider-1.webp");
    
    
}


.slide2 {
    background-image: url("../../../assets/slider-2.webp");
}

.slide3 {
    background-image: url("../../../assets/slider-3.webp");
}

.slide4 {
    background-image: url("../../../assets/blog-1-1.jpg");
}